<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Cadastro</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/editarXcadastro.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo HoraCom">
        </div>
    </header>
    <div class="container">
        <h1>Editar Cadastro</h1>
        <form id="edit-image-form">
            <div class="form-group">
                <div class="image-upload">
                    <label for="image-upload" class="image-label">
                        <img src="{{ url_for('static', filename='images/camera-icon.png') }}" alt="Câmera" class="camera-icon">
                        <br>
                        <br>
                        Escolha uma imagem
                    </label>
                    <input type="file" id="image-upload" name="imagem" accept="image/*" style="display: none;">
                </div>
            </div>
            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <input type="text" id="descricao" name="descricao">
            </div>
            <button type="submit">Atualizar Imagem</button>
        </form>
    </div>
    <div class="container2">
        <h1>Editar Cadastro</h1>
        <form id="edit-form">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="cpf">CPF</label>
                <input type="cpf" id="cpf" name="cpf">
            </div>
            <div class="form-group">
                <label for="senha">Senha</label>
                <input type="senha" id="senha" name="senha">
            </div>
            <button type="submit">Salvar</button>
        </form>
    </div>
    <div class="voltar">
        <button><a href="{{url_for('login')}}">Voltar</a></button>
    </div> 
    
    <footer>
        &copy; 2023 HoraCom. Todos os direitos reservados.
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const editForm = document.getElementById('edit-form');
            const nameInput = document.getElementById('nome');
            const emailInput = document.getElementById('email');
            const cpfInput = document.getElementById('cpf');
            const senhaInput = document.getElementById('senha');


            // Preencha o formulário com dados fictícios (simulação de um cadastro existente)
            nameInput.value = 'João da Silva';
            emailInput.value = 'joao@example.com';
            cpfInput.value = '8945672310'
            senhaInput.value = '******'

            // Lidar com o envio do formulário
            editForm.addEventListener('submit', function (e) {
                e.preventDefault(); // Impede o envio padrão do formulário
                // Aqui você pode enviar os dados para o servidor ou fazer qualquer outra ação necessária
                alert('Cadastro atualizado com sucesso!');
            });
        });
    </script>

</body>

</html>