<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Relatório</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/relatorio.css') }}">
</head>
<body>
  <header>
    <div class="logo">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo HoraCom">
    </div>
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Início</a></li>
        <li><a href="{{url_for('login')}}">Login</a></li>
        <li><a href="{{ url_for('sobre') }}">Sobre</a></li>
        <li><a href="{{ url_for('contato') }}">Contato</a></li>
      </ul>
    </nav>
  </header>
  <div class="relatorio" id="registros-container">
    <div id="registros"></div>
    <form action="{{ url_for('relatorio_certificados') }}" onsubmit="return validatedata()" method="post"></form>
  </div>
  <h2>Relatório de Certificados</h2>
  <table id="certificados-table">
    <thead>
      <tr>
        <th>Email</th>
        <th>Grupo</th>
        <th>Opção</th>
        <th>Hora</th>
        <th>Anexo</th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>

  <div class="voltar">
    <button id="backBtn">Voltar</button>
  </div>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

  <script>
    document.getElementById("backBtn").addEventListener("click", function () {
      history.back();
    });      
  </script>
  

<script>
  // Obtenha os dados do Flask e preencha a tabela usando JavaScript
  var certificadosData = ("certificados_data|safe" );
  
  var tableBody = document.querySelector("#certificados-table tbody");

  certificadosData.forEach(function (certificado) {
    var row = tableBody.insertRow();
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var cell3 = row.insertCell(2);
    var cell4 = row.insertCell(3);
    var cell5 = row.insertCell(4);

    cell1.innerHTML = certificado.email;
    cell2.innerHTML = certificado.grupo;
    cell3.innerHTML = certificado.opcao;
    cell4.innerHTML = certificado.hora;
    cell5.innerHTML = certificado.anexo;
  });
</script>
   
  <footer>
    &copy; 2023 HoraCom. Todos os direitos reservados.
  </footer>
</body>
</html>
