<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sobre.css') }}">
</head>
<body>
  <header>
    <div class="logo">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo HoraCom">
    </div>
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Início</a></li>
        <li><a href="{{url_for('login')}}">Login</a></li>
        <li><a href="{{ url_for('sobre') }}">Sobre</a></li>
        <li><a href="{{ url_for('contato') }}">Contato</a></li>
      </ul>
    </nav>
  </header>
     
    <main class="block-container">
      <main class="block">
        <div class="img">
          <a href="{{url_for('storyboard')}}"><img src="{{ url_for('static', filename='images/Storyboardicon.png') }}" alt="storyboard"><br></a>
        </div>
      </main>
      <main class="block">
        <div class="img">
          <a href="{{url_for('idealizadoras')}}"><img src="{{ url_for('static', filename='images/idealizadorasicon.png') }}" alt="idealizadoras"><br></a>
        </div>
      </main>
      <main class="block">
        <div class="img">
          <a href="{{url_for('persona')}}"><img src="{{ url_for('static', filename='images/persona.png') }}" alt="persona"><br></a>
        </div>
      </main>
    </main>
    
    <footer>
      <p>&copy; 2023 HoraCom. Todos os direitos reservados.</p>
    </footer>
  </body>
  </html>

