<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Idealizadoras</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/idealizadoras.css') }}">
</head>
<body>
  <header>
    <div class="logo">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo HoraCom">
    </div>
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Início</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('sobre') }}">Sobre</a></li>
        <li><a href="{{ url_for('contato') }}">Contato</a></li>
      </ul>
    </nav>
  </header>  

  <main class="bloco">
    <aside class="img">
      <img src="{{ url_for('static', filename='images/Camila.png') }}" alt="imagem"><br>
    </aside>
    <aside class="img">
      <img src="{{ url_for('static', filename='images/Fernanda.png') }}" alt="imagem"><br>      
    </aside>
  </main>  

  <div class="voltar">
    <button id="backBtn">Voltar</button>
  </div>

  <script>
    document.getElementById("backBtn").addEventListener("click", function(){
      history.back();
    });
  
  </script>

  <footer>
    <p>&copy; 2023 HoraCom. Todos os direitos reservados.</p>
  </footer>
</body>
</html>
