<!DOCTYPE html>
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagina Erro</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">
</head>
<body>
  <header>
    <div class="logo">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo HoraCom">
    </div>
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Início</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('sobre') }}">Sobre</a></li>
        <li><a href="{{ url_for('contato') }}">Contato</a></li>
      </ul>
    </nav>
  </header>

  <main class="cadastro">
    <aside class="cadastro">      
      <section class="img">
        <img src="{{ url_for('static', filename='images/Editar.png') }}"  alt="imagem" id="imagem">
      </section>     
    </aside>

    <aside class="textocadastro">
      <section class="textocadastro">
        <h2>Ops , Algo deu errado,</h2>
        <h2>tente mais tarde</h2>   
      </section>
    </aside>  
  </main>
  <footer>
    <p>&copy; 2023 HoraCom. Todos os direitos reservados.</p>
  </footer>
  <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>



   





