@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body,
p {
  margin: 0;
  border: 0;
  padding: 0;
}

/* Estilos Gerais */
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #333;
}

/* Cabeçalho */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.logo img {
  width: 150px;
  /* Ajuste o tamanho conforme necessário */
  height: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d62A5B;
}

nav li {
  float: left;
  border-right: 1px solid #bbb;
}

nav li:last-child {
  border-right: none;
}

li a:hover:not(.active) {
  background-color: #ffffff;
  color: #d62A5B;
}

.active {
  background-color: #ffffff;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.cadastro {
  display: flex;
  align-items: center;
  width: 100%;
  border: 2px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.cadastro img {
  margin-right: 100px;
  display: block;
  align-items: center;
  padding: 100px;
  width: 40%;
  height: 50%;
  background-color: #ffffff;
}

.textocadastro {
  position: relative;
  border-color: transparent;
  background-color: #ffffff;
  align-items: center;
  width: 60%;
  height: 50%;
}


form {
  margin: auto;
  top: 10%;
  left: 60%;
  border-radius: 10px;
  padding: 5px;
}

input[type=submit] {
  background: #d62A5B;
  color: #ffffff;
  border-radius: 5px;
  border: 5px solid #d62A5B;
  margin: 5px;
  cursor: pointer;
}
input {
  background: #ffffff;
  color: #d62A5B;
  border-radius: 5px;
  border: 1px solid #d62A5B;
  margin: 5px;
  width: 300px;
  height: 30px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 1px 1px 2px #d62A5B;
  -moz-box-shadow: 1px 1px 2px #d62A5B;
  -webkit-box-shadow: 1px 1px 2px #d62A5B;
}

footer {
  text-align: center;
  background-color: #d62A5B;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
}