@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body,
p {
  margin: 0;
  border: 0;
  padding: 0;
}

/* Estilos Gerais */
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #333;
}

/* Cabeçalho */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}


.logo img {
  width: 150px;
  /* Ajuste o tamanho conforme necessário */
  height: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d62A5B;
}

nav li {
  float: left;
  border-right: 1px solid #bbb;
}

nav li:last-child {
  border-right: none;
}

li a:hover:not(.active) {
  background-color: #ffffff;
  color: #d62A5B;
}

.active {
  background-color: #ffffff;

}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.content {
  display: flex;
  background-color: #ffffff;
  align-items: center;
  width: 100%;
  border: 40px;
  margin: 0;
  padding: 0px;
}

.content img {
  max-width: 94%;
  margin-right: 180px;
  display: block;
  padding: 1px;
}
.titulo{
  background-color: #d62a5b41;
  border: #d62A5B;
  color:#31161d;
  text-align:left;
  margin: 10px;
  border: 10px;
  padding: 10px;
  border-radius:8px;
}
.arrasta{
  color:#31161d;
  text-align:left;
  margin: 5px;
  border: 5px;
  padding:20px;
  border-radius: 10px;
  border-width: 1px;
  border-color: transparent;
  background: rgba(214, 42, 90, 0.26);

}
.escolher{
  color:#31161d;
  background-color: #d62A5B;
  text-align:left;
  padding: 10px; 
}

input[type="file"]{/**PARA COLOCAR A COR NO BOTÃO ESCOLHER**/
  display: none;
}
#label{
  padding: 20px 10px;
  width: 200px;
  background-color: pink;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display:block;
  margin-top: 10px;
  cursor: pointer;
}

.grupo{
  color:#31161d;
  text-align:left;
  padding:12px; 
}
.grupo-options{
  color:#31161d;
  text-align:left;
  padding:12px; 
}

.horascertificado{
  color:#31161d;
  text-align:left;
  padding:12px; 
}

.inserir
{
  background-color: #ffffff;
  border-radius:10px;
  border-color: #2d9246;
  border:5px;
  color: #2d9246;
  margin: 20px;
  padding: 10px;
  cursor: pointer;
  border-style: solid;
}
.inserir:hover{
  border: 8px solid rgb(20, 97, 18);
  transform: scale(1.5); 
  box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}
.cancelar
{  
  border-radius: 10px;
  background-color: #ffffff;
  border-color: red;
  border: 5px;;
  color: red;
  margin: 20px;
  padding: 10px;
  cursor: pointer;
  border-style: solid;

}
.cancelar:hover{
  border: 8px solid rgb(167, 39, 39);
  transform: scale(1.5); 
  box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}

button {
  background-color: #d62a5b41;
  border-radius: 5px;
  border: #d62A5B;
  color: #d62A5B;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

.voltar {
  display: flex;
  justify-content: flex-end;
}


footer {
  text-align: center;
  background-color: #d62A5B;
  color: white;
  width: 100%;
}