/* style.css */
/* Reset de Estilos */
body,
p {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

/* Estilos Gerais */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;

}

/* Cabeçalho */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;

}


.logo img {
  width: 150px;
  /* Ajuste o tamanho conforme necessário */
  height: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d62A5B;
}

nav li {
  float: left;
  border-right: 1px solid #bbb;
}

nav li:last-child {
  border-right: none;
}

li a:hover:not(.active) {
  background-color: #ffffff;
  color: #d62A5B;
}

.active {
  background-color: #ffffff;

}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.content {
  display: flex;
  background-color: #ffffff;
  align-items: center;
  width: 100%;
  border: 40px;
  margin: 0;
  padding: 0px;
}

.content img {
  max-width: 94%;
  margin-right: 180px;
  display: block;
  padding: 1px;
}

.textologin {
  /*aqui nesse temos que arrunar a configuração para preencher na parte do login*/
  border-radius: 0px;
  border-width: 0px;
  border-color: transparent;
  align-items: center;
  background: -webkit-linear-gradient(90deg, rgba(48, 14, 61, 0.26) 0.4%, rgba(214, 42, 90, 0.26) 100%);
  padding: 180px;
  /* Adicione um preenchimento interno para separar o conteúdo da borda */
  width: 98%;
  height: 98%;
  /* Em vez de 100% para permitir que o elemento cresça conforme o conteúdo */

}

form {
  margin-top: 20px;
}

footer {
  text-align: center;
  background-color: #d62A5B;
  color: white;
  width: 100%;
}