/* Reset de Estilos */
body,
p {
  margin: 0;
  border: 0;
  padding: 0;
  /* Adicione o box-sizing para evitar estouro de elementos */
}

/* Estilos Gerais */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
}

/* Cabeçalho */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
}

.logo img {
  max-width: 100%;
  height: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d62A5B;
}

nav li {
  float: left;
  border-right: 1px solid #ffffff;
}

nav li:last-child {
  border-right: none;
}

li a:hover:not(.active) {
  background-color: #ffffff;
  color: #d62A5B;
}

.active {
  background-color: #ffffff;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Conteúdo Principal */
.content {
  display: flex;
  flex-wrap: wrap;
  /* Permite que os elementos se ajustem automaticamente */
  background-color: #ffffff;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  /* Adicione o box-sizing aqui também */
}

.content img {
  max-width: 95%;
  margin-right: 30px;
  /* Reduzi o espaço à direita da imagem */
  display: block;
  padding: 3px;
  margin-bottom: 20px;
  /* Adicione um espaço entre a imagem e o texto */
}

.texto, .textorosa {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  font-size: 40px;
  width: 100%;
  text-align: left;
  padding: 20px;
  font-weight: bold;
  margin: 18px 0;
  /* Reduzi o espaço superior e inferior */
}

.textorosa {
  color: #d62A5B;
}

form {
  margin-top: 20px;
}

footer {
  text-align: center;
  background-color: #d62A5B;
  color: white;
  width: 100%;
}