@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body,
p {
  margin: 0;
  border: 0;
  padding: 0;
}

/* Estilos Gerais */
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #333;
}

/* Cabeçalho */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.logo img {
  width: 150px;
  /* Ajuste o tamanho conforme necessário */
  height: auto;
}

main{
  height: auto;
  box-sizing:content-box;
  background-color: #ffffff;
  padding: 20px;
}

.titulo{
  background-color: #d62a5b41;
  border: #d62A5B;
  color:#31161d;
  text-align:left;
  margin: 10px;
  border: 10px;
  padding: 10px;
  border-radius:8px;
}
.info{
  margin: 10px;
  border: 10px;
  padding: 10px;
}
#selecione-arquivo {
  display: inline; /* Torna o elemento "inline" para que fique na mesma linha */
  margin-right: 10px; /* Adiciona um espaço à direita para separar o texto do link anterior */
}
.arrasta{
  color:#31161d transparent;
  text-align:left;
  margin: 5px;
  border: 5px;
  padding:25px;
  border-radius: 10px;
  border-width: 1px;
  border-color: transparent;
  background: rgba(214, 42, 90, 0.26);
  font-weight: bold;
}

.grupo{
  color:#31161d;
  text-align:left;
  padding:12px; 
  
}
.grupo-options{
  color:#31161d;
  text-align:left;
  padding:12px; 
}

.horascertificado{
  color:#31161d;
  text-align:left;
  padding:12px; 
}

.inserir {
  background-color: #ffffff;
  border-radius: 10px;
  border-color: #669900;
  border: 2px;
  color: #669900;
  margin: 20px;
  padding: 10px;
  cursor: pointer;
  border-style: solid;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.inserir:hover {
  border: 3px solid #669900;
  background-color: rgba(102, 153, 0, 0.8); /* Adicione a transparência aqui */
  transform: scale(1.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.cancelar {
  border-radius: 10px;
  background-color: #ffffff;
  border-color: #cc0000;
  border: 2px;
  color: #cc0000;
  margin: 20px;
  padding: 10px;
  cursor: pointer;
  border-style: solid;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.cancelar:hover {
  border: 3px solid #cc0000;
  background-color: rgba(204, 0, 0, 0.8); /* Adicione a transparência aqui */
  transform: scale(1.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}


button {
  background-color: #d62a5b41;
  border-radius: 5px;
  border: #d62A5B;
  color: #d62A5B;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}
select {
  background: #ffffff;
  color: #757575;
  border-radius: 5px;
  border: 1px solid #d62A5B;
  margin: 5px;
  width: auto;
  height: 30px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 1px 1px 2px #d62A5B;
  -moz-box-shadow: 1px 1px 2px #d62A5B;
  -webkit-box-shadow: 1px 1px 2px #d62A5B;
}
input[type=number]{
  background: #ffffff;
  color: #757575;
  border-radius: 5px;
  border: 1px solid #d62A5B;
  margin: 5px;
  width: auto;
  height: 30px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 1px 1px 2px #d62A5B;
  -moz-box-shadow: 1px 1px 2px #d62A5B;
  -webkit-box-shadow: 1px 1px 2px #d62A5B;
}
.voltar {
  display: flex;
  justify-content: flex-end;
}


footer {
  text-align: center;
  background-color: #d62A5B;
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
}
