/* style.css */
/* Reset de Estilos */
body,
p {
  margin: 10px;
  padding: 10px;
}

/* Estilos Gerais */
button {
  background-color: #d62A5B;
  border: none;
  /* Removido o valor da borda */
  color: white;
  /* Cor do texto do botão */
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

/* Cabeçalho */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.logo img {
  width: 150px;
}

.content img {
  width: 40px;
  float: left;
  margin: 0px;
  padding: 5px;
}

.content-info {
  text-align: justify;
  float: left;
  margin: 0px;
  padding: 5px;
  width: 90%;
}

.regulamento {
  text-align: justify;
  margin: 10px;

}

button {
  background-color: #d62a5b41;
  border-radius: 5px;
  border: #d62A5B;
  color: #d62A5B;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

.voltar {
  display: flex;
  justify-content: flex-end;
}

footer {
  text-align: center;
  background-color: #d62A5B;
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
}