table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #faedf1;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #faedf1;
}

tr:hover {
    background-color: #fed6e2;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #d62A5B;
    color: white;
}