/* style.css */
/* Reset de Estilos */
body,
p {
  margin: 0;
  padding: 0;
}

/* Estilos Gerais */
body {
  font-family: Arial, sans-serif;
  color: #333;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 999;
}

/* Cabeçalho */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.logo img {
  width: 150px;
}

.container {
  display: flex;
  flex-wrap: wrap;

}

.half {
  flex: 1;
  width: 49%;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
}

.block {
  flex: 1;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #d62a5b54;
  box-sizing: border-box;
  width: 90%;
  border-radius: 20px;
  /* Adicione um arredondamento à borda */
  flex-direction: column;
  /* Alinhar conteúdo verticalmente */
  justify-content: center;
  /* Centralizar verticalmente */
  align-items: center;
  /* Centralizar horizontalmente */
  text-align: center;
  /* Alinhar texto no centro */

}

.block img {
  width: 50%;
  max-width: 100%;
  /* Evitar que a imagem fique maior que o bloco */
  margin-bottom: 10px;
  /* Adicionar espaço entre a imagem e o texto */
}

.dashboard {
  margin: 10px;
  padding: 20px;
  background: -webkit-linear-gradient(90deg, rgba(48, 14, 61, 0.26) 0.4%, rgba(214, 42, 90, 0.26) 100%);
  color: #fff;
  width: 90%;
  height: 90%;
  border-radius: 20px;
  /* Adicione um arredondamento à borda */
  flex-direction: column;
  /* Alinhar conteúdo verticalmente */
  justify-content: center;
  /* Centralizar verticalmente */
  align-items: center;
  /* Centralizar horizontalmente */
  text-align: center;
  /* Alinhar texto no centro */

}

.pieContainer {
  height: 100px;
}

.pieBackground {
  background-color: grey;
  position: absolute;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -moz-box-shadow: -1px 1px 3px #000;
  -webkit-box-shadow: -1px 1px 3px #000;
  -o-box-shadow: -1px 1px 3px #000;
  box-shadow: -1px 1px 3px #000;

}

.pie {
  position: absolute;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  clip: rect(0px, 50px, 100px, 0px);
}

.hold {
  position: absolute;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  clip: rect(0px, 100px, 100px, 50px);
}

#pieSlice1 .pie {
  background-color: #d62A5B;
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -o-transform: rotate(50deg);
  transform: rotate(50deg);
}

footer {
  text-align: center;
  background-color: #d62A5B;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* Estilos para o menu de expansão */
.expand-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

#expand-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

#expand-button img {
  width: 40x;
  height: 40px;
}

#menu-content {
  margin: 10px;
  padding: 10px;
  background-color: #d62a5b;
  border: 1px solid #d62a5b54;
  box-sizing: border-box;
  border-radius: 5px;
  height: 800px;
  width: 1000px;
}

#menu-content ul {
  list-style: none;
  padding: 0;
}

#menu-content li {
  margin: 5px 0;
}

#menu-content a {
  color: white;
  text-decoration: solid;
}

#menu-content a:hover {
  text-decoration: underline;
}