<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Esqueceu a senha</title>
  <link rel="icon" type="image/x-icon" href=".\images\favicon.ico">
  <link rel="stylesheet" href="css/esqueceusenha.css">
</head>

<body>
    <header>
        <div class="logo">
          <img src="images/logo.png" alt="Logo HoraCom">
        </div>
    </header>

    <main class="content">   
      <article class="content">
        <section class="img">
          <img src="images/recuperar senha.png" alt="imagem">
        </section>  
      </article> 
      <aside class="textosenha">
        <h1>Redefinir senha</h1>
        <h4>Por favor, forneça as informações solicitadas abaixo para iniciar o processo de redefinição de senha.</h4>
          <form method="POST" action="/esqueceu_senha">
            <label for="email">Seu e-mail de acesso:</label>
            <input type="email" id="email" name="email" required><br>
            <input type="submit"></input>
            <br>
            <br>
            <h5> Você irá receber um e-mail no endereço informado acima contendo o procedimento para criar uma nova senha para esse usuário.</h5>
            <br>
            <div class="voltar">
              <button id="backBtn">Voltar</button>
            </div>
          </form>
        </section>
      </aside>
      <script>
        document.getElementById("backBtn").addEventListener("click", function(){
          history.back();
        });
      </script>
    </main>
    <footer>
      <p>&copy; 2023 HoraCom. Todos os direitos reservados.</p>
    </footer>
</body>

</html>
