<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <header>
        <div class="logo">
          <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo HoraCom">
        </div>
    </header>
    <main class="content">
        <article class="content">
            <section class="img">
                <img src="{{ url_for('static', filename='images/menina.png') }}" alt="imagem">
            </section>
        </article>
        <aside class="textologin">
            <h1>Olá!<br> Seja bem-vindo.</h1>
            <h4> Faça seu login agora</h4>
            <form action="{{ url_for('processar_cadastro') }}" onsubmit="return validatedata()" method="post">
                <label for="email-cpf">Login</label><br>
                <input type="text" id="email-cpf" name="email-cpf" placeholder="Digite seu email ou CPF" required><br>
                <label for="senha">Senha</label><br>
                <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required><br>
                <input type="submit" value="Entrar">
            </form>
            <p><a href="{{url_for('esqueceu_senha')}}" class="link-esqueceu-senha">Esqueceu a senha?</a></p>
            <p><a href="{{url_for('user_coordenador')}}" class="cadastro">Se você é coordenador, clique aqui</a></p>
            <p><a href="{{url_for('cadastro')}}" class="cadastro">Clique aqui e crie sua conta</a><p>
            <div class="voltar">
                <button id="backBtn">Voltar</button>
            </div>
        </aside>
    </main>
    <footer>
        <p>&copy; 2023 HoraCom. Todos os direitos reservados.</p>
    </footer>
    <script>
        document.getElementById("backBtn").addEventListener("click", function(){
            history.back();
        });
    </script>
</body>
</html>
